<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096720344595-bp3jjg716gd10m27jl6mqk1v54sfjj2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096720344595-bp3jjg716gd10m27jl6mqk1v54sfjj2b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1096720344595-ft7gcsqpgkq543bn08jhnchnghfi2dv9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0LWtb2Ocr0xZYYJJeTZGNbuo7GOrmj6E</string>
	<key>GCM_SENDER_ID</key>
	<string>1096720344595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ourstory</string>
	<key>PROJECT_ID</key>
	<string>ourstory-2302</string>
	<key>STORAGE_BUCKET</key>
	<string>ourstory-2302.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096720344595:ios:80f7ba167678f4cf7881e6</string>
	<key>DATABASE_URL</key>
	<string>https://ourstory-2302.firebaseio.com</string>
</dict>
</plist>